*.DS_Store

# Xcode
xcuserdata/
*.xcframework
.build/

# CocoaPods
Podfile.lock
Pods/
*.xcworkspace

DerivedData/

## Obj-C/Swift specific
*.hmap

Kidoz Direct/Unity/SampleApp/Build
Kidoz Direct/Unity/SampleApp/Build_BurstDebugInformation_DoNotShip
